/******************************************************************************/
/* Bookinsanity
/******************************************************************************/

@font-face {
  font-family: "Bookinsanity";
  src: url("../assets/fonts/Bookinsanity.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("../assets/fonts/Bookinsanity Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("../assets/fonts/Bookinsanity Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Bookinsanity";
  src: url("../assets/fonts/Bookinsanity Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/******************************************************************************/
/* Fira Mono
/******************************************************************************/

@font-face {
  font-family: "Fira Mono";
  src: url("../assets/fonts/Fira Mono.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Fira Mono";
  src: url("../assets/fonts/Fira Mono Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

/******************************************************************************/
/* Lato
/******************************************************************************/

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato Bold Italic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lato";
  src: url("../assets/fonts/Lato Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

/******************************************************************************/
/* Mr Eaves
/******************************************************************************/

@font-face {
  font-family: "Mr Eaves";
  src: url("../assets/fonts/Mr Eaves Small Caps.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Mr Eaves Alt";
  src: url("../assets/fonts/Mr Eaves Small Caps Alt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
