/******************************************************************************/
/* Print
/******************************************************************************/

@media print {
  body * {
    visibility: hidden;
  }

  .printable,
  .printable * {
    visibility: visible;
  }

  .printable {
    position: absolute !important;
    left: 0;
    top: 0;
  }

  .not-printable {
    display: none !important;
  }
}
